.header {
  display: flex;
  padding: var(--a-spacing-3) var(--a-spacing-5);
  border-bottom: 1px solid var(--a-border-default);
}

@media (min-width: 768px) {
  .header {
    padding: var(--a-spacing-4) var(--a-spacing-10);
  }
}

.main {
  padding: var(--a-spacing-10) var(--a-spacing-5) var(--a-spacing-5);
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-8);
  margin-inline: auto;
  max-width: calc(var(--a-text-width-max) + 2 * var(--a-spacing-5));
}

.table-wrapper {
  overflow-x: auto;
}

.navds-table {
  width: var(--a-text-width-max);
}

.divider {
  align-self: center;
  padding: var(--a-spacing-4);
}

.highlight {
  background-color: var(--a-gray-100);
  border-radius: var(--a-border-radius-large);
  border: 1px solid var(--a-gray-300);
  padding: 0.1rem 0.5rem;
  margin: var(--a-spacing-1);
  word-break: keep-all;
  display: inline-block;
}

.color-swatch {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  border-radius: var(--a-border-radius-medium);
  vertical-align: middle;
}

.align-text-bottom {
  vertical-align: text-bottom;
}

.navds-body-long:not(:last-child) {
  margin-bottom: 1rem;
}
